<h1> Log a Problem! </h1>
<%= form_for @post do |p| %>
    <%= p.label :title %>
    <%= p.text_field :title %><br>

    <%= p.label :description %>
    <%= p.text_area :description %>

    <%= p.label :intersection %>
    <%= p.text_area :intersection %><br>

    <%= p.label :neighborhood_id %>
    <%= p.collection_select(:neighborhood_id, @neighborhoods, :id, :name, prompt: true) %><br>

    <%= p.submit %>
<% end %>


<% if @post.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>
 
    <ul>
    <% @post.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>