<h1 style= "text-align: center"> Report a Problem! </h1>

<div class="container jumbotron create_post">
    <div class="row-lg justify-content-center">
    <%= form_for @post do |p| %>
      <%= p.label :title %>
      <%= p.text_field :title %><br><br>
  
      <%= p.label :description %>
      <%= p.text_area :description %><br><br>
  
      <%= p.label :intersection %>
      <%= p.text_field :intersection %><br><br>
  
      <%= p.label :neighborhood_id %>
      <%= p.collection_select(:neighborhood_id, @neighborhoods, :id, :name, prompt: true) %><br><br>
  
      <%= p.label :image %>
      <%= p.file_field :image %><br><br>
      <%= p.submit %><br>
  <% end %>
       
</div>


<% if @post.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>
 
    <ul>
    <% @post.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>