<h1> Title: <%= @post.title %></h1>
<h3> Intersection: <%= @post.intersection %> </h3>
<h3> Neighborhood: <%= @post.neighborhood.name %></h3>
<p> Description: <%= @post.description %><p>

<%= form_for @comment do |c| %>
    <%= c.hidden_field :post_id , :value => @post.id %>
    <%= c.label "Have a comment?" %>
    <%= c.text_area :body %>
    <%= c.submit %>
<% end %> 
<br> 
<% if @post.comments.any? %>
    <h3>Comments: </h3> 
    <% @post.comments.each do |x|%>
        <p><%= x.user.name %> said: <%= x.body %></p>
    <% end %>
<% end %>
  
<% if @post.image.attached? %>
    <strong> Image: </strong>
    <%= image_tag @post.image %>
<% end %>

   

 



          



