<!-- Page Content -->
  <div class="container">

    <div class="row">

      <!-- Post Content Column -->
      <div class="col-lg-8">

        <!-- Title -->
        <h1 class="mt-4"><%= @post.title %></h1>
        <!-- Author -->
        <p class="lead">
          <p style= "font-weight: bold;">by <%= @post.user.username %></p>
          <h4 sytle="font-weight:" bold;"class="mt-4">Neighborhood:<%= @post.neighborhood.name %></h4>
        <h4 class="mt-4">Intersection: <%= @post.intersection %></h4>
        

        <hr>

        <!-- Date/Time -->
        <p>Posted on <%= @post.created_at %></p>

        <hr>

        <!-- Preview Image -->
        <img class="img-fluid rounded" src= <%= url_for(@post.image) %> alt="">
    
        <hr>

        <!-- Post Content -->
        <p class= "lead">Problem Description: </p>
        <p class="mt-1"><%= @post.description %></p>

        <!-- Comments Form -->
        <div class="card my-4">
          <h5 class="card-header">Leave a Comment:</h5>
          <div class="card-body">
              <%= form_for @comment do |c| %>
                <%= c.hidden_field :post_id , :value => @post.id %>
                <%= c.label "Have a comment?" %>
                <%= c.text_area :body %>
                <%= c.submit "Submit" %>
            <% end %> 
          </div>
        </div>
        
       <!-- Display Comments -->
       <div class= "container ">
         <% if @post.comments.any? %>
            <% @post.comments.each do |x|%>
                <div class="card comment_card">
                <p><%= x.user.username %> said: <%= x.body %></p>
             <% end %>
             </div>
         <% end %>
        </div>
        </div>
    


    <!-- /.row -->

  </div>
  <!-- /.container -->


  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>

